
<suite parallel="classes" name="Suite">
  <test name="Test">
    <classes>
	  <class name="test3.GoogleSearchTest_TestNG"/>
      <class name="test3.GoogleSearchTest_TestNG2"/>
      	<methods>
			  <include name = "GoogleSearch3"></include>
	  	</methods>
      
    </classes>
  </test>
</suite> 
